#header {
    position: absolute;
    width: 1400px;
    height: 80px;
    border: 1px solid black;
    box-shadow: 3px 5px;
    background-color: cornflowerblue;
}

#banner {
    position: relative;
    width: 200px;
    height: 80px;
    top: 1px;
    left: 1402px;
    box-shadow: 3px 6px;
}

#nav {
    position: absolute;
    width: 1600px;
    height: 40px;
    top: 95px;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

a {
    color: teal;
    text-decoration: none;
}

#main {
    position: absolute;
    width: 1600px;
    height: 600px;
    top: 130px;
    border: 1px solid black;
}

#options {
    position: absolute;
    width: 300px;
    right: 30px;
    top: 10px;
    margin-right: 100px;
    margin-top: 10px;
}

#hiddenDiv {
    position: absolute;
    top: 40px;
    right: 130px;
}

b {
    font-size: 110%;
}

p,
b {
    margin-left: 5px;
    margin-right: 40px;
}

#textbox {
    position: absolute;
    width: 570px;
    height: 560px;
    top: 10px;
    left: 515px;
    font-size: 120%;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
}

#button {
    position: absolute;
    width: 100px;
    height: 50px;
    right: 30px;
    bottom: 40px;
}

.vak1 {
    position: absolute;
    width: 650px;
    height: 80px;
    top: 750px;
    display: inline-block;
    padding: 7px 1px;
    color: black;
    text-align: center;
    border: 1px solid black;
    background-color: cornflowerblue;
}

.vak2 {
    position: absolute;
    width: 650px;
    height: 80px;
    top: 750px;
    left: 660px;
    display: inline-block;
    padding: 7px 1px;
    color: black;
    text-align: center;
    border: 1px solid black;
    background-color: white;
}

.vak3 {
    position: absolute;
    width: 300px;
    height: 80px;
    top: 750px;
    left: 1306px;
    display: inline-block;
    padding: 7px 1px;
    color: black;
    text-align: center;
    border: 1px solid black;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 200px;
    z-index: 1;
    font-size: 50%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}